<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="robot_namespace" default="/"/>

  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="3.0"/>
  <arg name="yaw" default="0.0"/>
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find husky_gazebo_mars_world)/worlds/platform_mars_obstacles.world"/>
    <arg name="verbose" value="true" />
    <arg name="paused" value="true" />
  </include>

<!-- <node pkg="kinematic_model" type="kinematic_model.py" name="kinematic_model" 
output="screen"/> -->

  <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="robot_namespace" default="$(arg robot_namespace)"/>
    <arg name="x" value="$(arg x)"/>
    <arg name="y" value="$(arg y)"/>
    <arg name="z" value="$(arg z)"/>
    <arg name="yaw" value="$(arg yaw)"/>
  </include>

</launch>
